<div class="container m-2">
  <form
    id="add-form"
    (ngSubmit)="f.form.valid && saveCompanie(f)"
    #f="ngForm"
    novalidate
  >
    <div class="row">
      <div class="col-9">
        <input
          type="text"
          [(ngModel)]="companie.name"
          id="name"
          name="name"
          #name="ngModel"
          required
          class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
          placeholder="Nome da empresa"
        />
        <div
          *ngIf="f.submitted && name.invalid"
          class="invalid-feedback col-12"
        >
          <div *ngIf="name.errors">Nome é obrigatório</div>
        </div>
      </div>
      <div class="col-3 row">
        <div class="col-3">
          <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </div>
        <div class="col-3">
          <button
            type="reset"
            class="btn btn-secondary btn-add-companie btn-sm"
            (click)="cleanForm(f)"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
