<div class="alert alert-success" role="alert" *ngIf="deleteSucess">Vaga foi apagada com sucesso</div>
<div class="container" *ngFor="let company of companies">
  <div class="m-1 card">
    <div class="row card-body">
      <div class="col-10">{{ company.name }}</div>
      <div class="col-1">
        <a type="button" class="btn btn-warning btn-sm" href="/empresas/{{company.id}}">
          Editar
        </a>
      </div>
      <div class="col-1">
        <button
          type="button"
          class="btn btn-danger btn-sm ml-1"
          (click)="deleteCompany(company)"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>
